.parent_wrapper {
  background-color: rgb(83, 82, 82);
  color: white;
}

.wrap article{
  border-bottom:  solid rgb(147, 111, 111);
}

.wrapper {
  padding: 0px 15px;
}

.total_movies {
  display: flex;
  justify-content: end;
  width: 100%;
  font-family: poppins;
  font-size: 14px;
  gap: 5px;
  color: rgb(246, 165, 65);
}

.search_input_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: -10px;
}
.search_input_div input {
  width: 90%;
  outline: none;
  padding-inline-start: 5px;
  border-radius: 5px;
  border: none;
  height: 26px;
  caret-color: white;
  color: white;
  background-color: rgb(104, 102, 102);
}
.search_input_div input::placeholder {
  color: white;
  letter-spacing: 0.5px;
}
.liked_color {
  color: red;
}

@media (min-width: 750px) {
  .wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
